@model ShopLaptop.Models.Laptop

@using ShopLaptop.Models
@{
    ViewBag.Title = "Details";

    HomeModel home = new HomeModel();
}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/Content/images/@Model.hinh" alt="..." /></div>
            <div class="col-md-6">
                <div class="row text-center" style="font-weight:bold">
                    <div class="col-6 small mb-1 pull-left" style="color:red">Cập nhật: @Model.ngaycapnhat.GetValueOrDefault().ToString("dd/MM/yyyy")</div>
                    <div class="col-6 small mb-1 pull-right" style="color:#0094ff">@Model.Hang.tenhang - @Model.NhuCau.tennhucau</div>
                </div>
                <h1 class="display-5 fw-bolder">@Model.tenlaptop</h1>
                <div class="fs-5 mb-5">
                    @*<span class="text-decoration-line-through">@Model.giaban</span>*@
                    <span>@Model.giaban đ </span>
                </div>
                <a class="zalo-follow-only-button" data-oaid="579745863508352884" style="margin-left:14px"></a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Thuộc tính</th>
                            <th scope="col">Mô tả</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>CPU</td>
                            <td>@Model.cpu</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>GPU</td>
                            <td>@Model.gpu</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Hardware</td>
                            <td>@Model.hardware</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Màn hình</td>
                            <td>@Model.manhinh</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Pin</td>
                            <td>@Model.pin</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Số lượng tồn</td>
                            <td>@Model.soluongton</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex">
                    @*<input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem;" />*@
                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @id = Model.malaptop, @strURL = Request.Url.ToString() })" class="btn btn-danger flex-shrink-0">
                        <i class="fa fa-cart-plus me-1"></i>
                        Thêm vào giỏ
                    </a>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-success flex-shrink-0" style="margin-left:14px">
                        <i class="fa fa-shopping-bag me-1"></i>
                        Mua thêm
                    </a>
                    <a class="zalo-share-button" data-href="" data-oaid="579745863508352884" data-layout="4" data-color="blue" data-customize="false" style="margin-left:14px"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row">
            <div class="col-md-7">
                <div class="col-12 text-uppercase">
                    <h2><u>Mô tả sản phẩm</u></h2>
                </div>
                <div class="col-12" id="details">
                    <p>@Model.mota</p>
                </div>
            </div>
            @RenderPage("_PartialPage.cshtml")
        </div>
    </div>

</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Sản phẩm khác</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in home.GetListLaptop_OTHER())
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="~/Content/images/@item.hinh" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.tenlaptop</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                @item.giaban đ
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-warning mt-auto" href="@Url.Action("Details","Home", new { id = item.malaptop})"><i class="fa fa-eye"></i> Xem thêm</a></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

