@model ShopLaptop.EF.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="container container-fluid">
    <h2>Details</h2>

    <div>
        <h4>Admin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PassAdmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PassAdmin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.hoten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hoten)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserAdmin }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>