@model IEnumerable<ShopLaptop.EF.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tendangnhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaysinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tendangnhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matkhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaysinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.makh }) |
            @Html.ActionLink("Details", "Details", new { id=item.makh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.makh })
        </td>
    </tr>
}

</table>
